**/__pycache__/
**/.ipynb_checkpoints/
.ipynb_checkpoints
*.log
**log
.DS_Store
debug.py
test.py
run_cal_metric.py
output/
old_results
det_test
old_configs
check_data
trace
old_demo_data
old_run_cal_metric.py
old_test.py
old_tools
old_trace
build/
.cache/
.hf-cache/
.mplconfig/
.xdg-cache/
.pytest_cache/
omnidocbench_eval.egg-info/
logs/
result/*
result1/
result_v/
result_snapshots/
*.zip
OmniDocBench_251219.json
OmniDocBench_v1_6_merged_0326.json
gt/
pages_v1_6_merged_0326/
configs/*
!configs/end2end.yaml
!configs/formula_detection.yaml
!configs/formula_recognition.yaml
!configs/layout_detection.yaml
!configs/md2md.yaml
!configs/ocr.yaml
!configs/table_recognition.yaml
configsdata_gt/
data_md/
tmp/
1.6_infer/
worktrees/
